@charset "UTF-8";
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: 0;
}

button:focus-visible {
  outline: 2px solid #949494;
  outline-offset: 2px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 90dvh;
  margin: 0;
  background-color: #36384d;
}

main {
  width: min(390px, 100%);
  flex: 1;
  margin: 0 auto;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main {
    width: min(780px, 100%);
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1200px) {
  main {
    width: min(1400px, 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main {
  /* 가입 */
}
main section.subscribe {
  width: min(375px, 100%);
  margin: 0 auto;
  padding-block-end: 44px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main section.subscribe {
    width: min(608px, 100%);
    border-radius: 36px;
    padding: 40px;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main section.subscribe {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 1200px) {
  main section.subscribe {
    width: min(904px, 100%);
    flex-direction: row-reverse;
    reading-flow: flex-visual;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.08);
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main section.subscribe .illustration {
  inline-size: 100%;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}
main section.subscribe .newsletter {
  padding: 0 24px;
}
main section.subscribe .newsletter .title {
  margin-block-start: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  color: #242742;
}
main section.subscribe .newsletter .description {
  margin-block-start: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #242742;
}
main section.subscribe .newsletter .benefits {
  margin-block-start: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
main section.subscribe .newsletter .benefits li {
  display: flex;
  align-items: flex-start;
}
main section.subscribe .newsletter .benefits li::before {
  content: "";
  flex-shrink: 0;
  width: 1.3125rem;
  height: 1.3125rem;
  background-image: url("../images/icon-list.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
main section.subscribe .newsletter .benefits li span {
  margin-inline-start: 16px;
  flex: 1 1 0;
}
main section.subscribe .newsletter .benefits li:not(:first-child) {
  margin-block-start: 8px;
}
main section.subscribe .newsletter form {
  margin-block-start: 40px;
}
main section.subscribe .newsletter form .input-box {
  display: flow-root;
}
main section.subscribe .newsletter form .input-box label {
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
}
main section.subscribe .newsletter form .input-box span {
  display: none;
  float: right;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  color: #ff6155;
}
main section.subscribe .newsletter form .input-box span.invalid {
  display: block;
  color: #ff6155;
}
main section.subscribe .newsletter form input[name=email] {
  margin-block-start: 8px;
  width: 100%;
  padding: 16px 24px;
  border: 1px solid #949494;
  border-radius: 8px;
}
main section.subscribe .newsletter form input[name=email]::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #949494;
}
main section.subscribe .newsletter form input[name=email]:focus {
  border-color: #242742;
}
main section.subscribe .newsletter form input[name=email]:focus::placeholder {
  color: #242742;
}
main section.subscribe .newsletter form input[name=email]:focus ~ .subscribe-btn {
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main section.subscribe .newsletter form input[name=email]:focus ~ .subscribe-btn {
    background: linear-gradient(0deg, rgb(255, 106, 58) 0%, rgb(255, 82, 123) 100%);
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main section.subscribe .newsletter form input[name=email].invalid {
  background-color: #ffe7e6;
  color: #ff6155;
  border-color: #ff6155;
}
main section.subscribe .newsletter form button {
  margin-block-start: 24px;
  width: 100%;
  background-color: #242742;
  padding: 16px 48px;
  border-radius: 8px;
  color: #ffffff;
}
main {
  /* success */
}
main section.success {
  width: min(375px, 100%);
  margin: 0 auto;
  margin-block-start: 149px;
  padding-inline: 24px;
  background-color: #ffffff;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  main section.success {
    display: none;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
main section.success .check {
  width: 64px;
  aspect-ratio: 64/64;
}
main section.success .title {
  margin-block-start: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
}
main section.success .description {
  margin-block-start: 32px;
  color: #242742;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
main section.success .description strong {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
main section.success .dismiss-btn {
  margin-block-start: 263px;
  width: 100%;
  padding: 16px 54px;
  color: #fff;
  background-color: #242742;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.primary--success {
  background-color: #ffffff;
}

.modal {
  position: fixed;
  background-color: #36384d;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: none;
  padding-block-end: 44px;
  /* 맵에 해당 기기 이름이 있는지 확인 */
  /* 🌟 min-width 기준으로 미디어 쿼리 자동 생성 */
}
@media (min-width: 768px) {
  .modal {
    display: block;
    /* 믹스인을 호출할 때 전달한 스타일이 여기에 쏙 들어갑니다 */
  }
}
.modal .modal-content {
  background-color: #fff;
  width: 504px;
  border-radius: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 64px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  animation: slidefade 0.5s linear;
}
.modal .modal-content .check {
  width: 64px;
  aspect-ratio: 64/64;
}
.modal .modal-content .title {
  margin-block-start: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
}
.modal .modal-content .description {
  margin-block-start: 32px;
  color: #242742;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.modal .modal-content .description strong {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
.modal .modal-content .dismiss-btn {
  margin-block-start: 32px;
  width: 100%;
  padding: 16px 54px;
  color: #fff;
  background-color: #242742;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.attribution {
  margin-top: auto;
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
