@charset "UTF-8";

$font-primary: 'Roboto', sans-serif;

$font-size-preset1: 56px;
$font-size-preset2: 16px;
$font-size-preset3: 12px;

$bg-white: #ffffff;
$bg-gray: #949494;
$bg-blue-800: #242742;
$bg-blue-700: #36384d;
$bg-red: #ff6155;

$bg-gradient: linear-gradient(
  0deg,
  rgba(255, 106, 58, 1) 0%,
  rgba(255, 82, 123, 1) 100%
);

$breakpoints: (
  'mobile': 480px,
  'tablet': 768px,
  'desktop': 1200px,
);
